body {
	background-image: linear-gradient(235deg, orange, blue);
	font-family: 'Luckiest Guy', cursive;
}

#container {
	background-color: whitesmoke;
	min-height: 300px;
	padding: 20px;
	border-width: 10px;
	border-style: inset;
	border-color: #777777;
	margin: 20px auto;
	width: 80%
}

header h1 {
	Color: limegreen;
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
	font-size: 48px
}


nav ul {
    list-style: none;
    background-color: yellowgreen;
    margin: -20px;
    text-align: center;
    padding: 0;
}
nav li {
    display: inline-block;
    
    padding: 10px;
    border-left: 1px solid white;
}

nav li:last-of-type {
    border-right: 1px solid white;

}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
nav a:hover {
    background-color: yellow;
    color: hotpink;

}


/* selected link */
nav a:active {
    color: blue;
}